doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="anikit.bundle.min.css")
    link(rel="stylesheet",type="text/css",href="ldtxt.css")
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    br
    br
    br
    br
    br
    h1 ldText!
    p.p1 animate your text in css. best work with anikit!
    p.p2 wanna animate by words? it works too!
    br
    p.p3 and guess what? no external dependency!
    center: small use anikit, animate.css as you like, or write your own css animation.
    script(src="ldtxt.js")
    script(src="index.js")
