doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="anikit.bundle.min.css")
    link(rel="stylesheet",type="text/css",href="ldtxt.css")
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    br
    br
    br
    h1(style="width:500px;margin:auto") Hello World!
    script(src="ldtxt.js")
    script(src="index.js")
